.App {
  text-align: center;
}

.title {
  position: fixed;
  left: 43%;
  z-index: 2;
  font-size: 50px;
  color: #2e3d40;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.task-container {
  width: 70%;
  border-radius: 20px;
  background-color: #cfeff9;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.task-container h2 {
  color: #2e3d40;
}
.input-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.input {
  border: solid 3px #335b64;
  width: 40%;
  height: 50px;
  border-radius: 10px;
  font-size: 27px;
  color: #324f56;
  background-color: #cfeff9;
  margin-right: 10px;
}

.input-container button {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 3px solid #335b64;
  background-color: transparent;
  transition-duration: 0.4s;
}

.plus:hover {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.task-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.trash-button {
  border-style: none;
  background-color: transparent;
  
}
.task-line{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  
}
.task-line span{ 
  font-size: 27px;
  margin-right: 3em;
  margin-left: 3em;
  flex:1;
}


input[type="checkbox"]{
  width: 20px; 
  height: 20px; 
}

.task-underline{
  text-decoration: line-through;
}
